$brand-color: #1976D2;
$red: #ef5350;
$black: #000;
$white: #fff;
$nevada: #67757c;
$trout: #495057;
$light-gray: #ddd;
$dashborad-boxShadow: rgba(0, 0, 0, 0.05);
$search-border: rgba(0,0,0,.15);
$search-bg: #e9ecef;
$grey: #808080;